.refund-content
     {
      position: absolute;
      margin-top: 4rem; 
     } 
     .refund-content h4{
       color:blue;
       text-decoration: underline;
     }
  .Footer-section4
   {
    /* margin-top:40rem;   */
    position:absolute;
    margin-top:77.5rem;  
    background-color: rgb(189, 247, 247); 
    width:73rem;
    height:36rem;
   }
   .subs-img4
   {
     border-radius:100%;
     margin-left:40%;
     transform: translateY(-50%);
   }
   .subs-box4
   {
     margin-left:32% ;
     margin-top:-8% ;
   }
   .subs-box4 h4{
    color:#0000FF;
    text-shadow:2px 2px 6px rgb(93, 194, 228);
    font-size:35px;  
   }
   .subs-box4 input 
    {
      outline:0;  
border:0;
color:#00FFFF;
width:33rem;
height:4rem;
font-size:25px;
border-radius:100px;
margin-left:-5%;
    }
    .fs4
    {
     margin-left:-8% ;
    }
    .fs4:hover{
  color:blue;
  cursor: pointer;
  background-color: rgb(94, 251, 244);
}
.tt4 
{
margin-left:46% ;  
}
.social-icons4
{
  display: flex;
  justify-content: center;
  gap:5px;
}
.foll4
{
 margin-top: 2rem; 
}
.social-icons4 i:hover
{
color:rgb(16, 235, 216);
cursor: pointer;
}
.infoImportant4 a
{
text-decoration: none;
font-size: 20px;
font-weight:600;
color:grey;
}
.infoImportant4 a:hover
{
color:blue;
text-decoration: none;  
}
.infoImportant4
{
display: flex;
justify-content:center;
gap:10px;  
margin-top:2rem;
}
.terms-and-privacy4 a{
text-decoration: none;
font-size: 17px;
font-weight:600;
color:grey;  
}
.terms-and-privacy4
{
display: flex;
justify-content:center;
gap:10px;  
margin-top:2rem;
}
.terms-and-privacy4 a:hover
{
color:blue;
text-decoration: none;    
}
.copyrights4
{
  margin-left:33%;
font-size:18px;
font-weight: 540;
color:grey;
margin-top:3rem;
}