 .video-front{
     position: fixed;
     margin-top: -10rem;
   }
   .welcomeText 
   {
    position: absolute;
    margin:-1rem 0 0 25rem; 
   }
   h1{
     font-family: 'Monoton', cursive;
     color:blue;
     font-size:63px;
     margin:0 0 0 -2.5rem;
     animation:glow 3s ease-out infinite;
   }
   @keyframes glow {
     from
     {
       text-shadow:2px 2px 5px #00BFFF;
     }
      to{
       text-shadow:2px 2px 15px #00BFFF ;
     }
   }
   #muscles 
   {
    position: absolute;
   transform:scaleX(-1);
   width:4rem;
   height:3rem;
   margin:-5rem 0 0 20rem ;
   }
   h6{
    color:white;
    font-size:13px;
    margin:-1rem 0 0 14rem;
   }
   .logo
   {
   width:9rem;
   height:3rem;  
   margin:-10rem 0 0 -13rem;
   transform: translateY(-238px);
   } button{
     border:3px double #0000FF;
     width:14rem;
     height:4rem;
     font-size:25px;
     font-weight:500;
     text-align: center;
     border-radius:20px;
     font-family: 'Monoton', cursive;
     background-color: white;
     outline: 0;
     color:blue;
     margin:4rem 0 0 0;
     transition: 1.4s ease-in all;
   }
   button a{
     text-decoration: none;
      transition: 1.4s ease-in all;
   }
   button:hover
   {
     background-color: blue;
     font-family: 'Monoton', cursive;
     color:white;
     border:3px double white;
     text-decoration: none;
   }
   button a:hover {
     color:white;
   }
   .text
   {
    color:white;
    font-family: 'Kumbh Sans', sans-serif; 
    font-weight:550;
    font-size:75px;
    margin:6rem 0 0 -15.5rem;
    }
   .bubbles
   {
     display: flex;
     gap:2rem;
     font-weight:300;
     font-size:15px;
   }
   .bubbles div
   {
     background-color: white;
     width:1.2rem;
     border-radius:50%;
     animation:bubbles 2s ease-out infinite;
   }
   @keyframes bubbles {
     0%
     {
      opacity:0.9;
      transform: translateY(-4px);
     }
      20%
     {
      opacity:0.7;
     transform: translateY(-27px);
     }
      50%
     {
      opacity:0.5;
       transform: translateY(-59px);
     }
      70%
     {
      opacity:0.3;
      transform: translateY(-81px);
     }
      100%
     {
      opacity:0.1;
     transform: translateY(-125px);
     }
   }