.term-content
    {
      position: absolute;
      margin-top: 4rem;
    }
    .term-content h1
    {
      color:rgb(19, 209, 243);
      text-align: center;
    }
    .term-content h2{
      color:blue;
    }
     .Footer-section3
   {
    /* margin-top:40rem;   */
    position:absolute;
    margin-top:438rem;  
    background-color: rgb(189, 247, 247); 
    width:73rem;
    height:36rem;
   }
   .subs-img3
   {
     border-radius:100%;
     margin-left:40%;
     transform: translateY(-50%);
   }
   .subs-box3
   {
     margin-left:32% ;
     margin-top:-8% ;
   }
   .subs-box3 h4{
    color:#0000FF;
    text-shadow:2px 2px 6px rgb(93, 194, 228);
    font-size:35px;  
   }
   .subs-box3 input 
    {
      outline:0;  
border:0;
color:#00FFFF;
width:33rem;
height:4rem;
font-size:25px;
border-radius:100px;
margin-left:-5%;
    }
    .fs3
    {
     margin-left:-8% ;
    }
    .fs3:hover{
  color:blue;
  cursor: pointer;
  background-color: rgb(94, 251, 244);
}
.tt3
{
margin-left:46% ;  
}
.social-icons3
{
  display: flex;
  justify-content: center;
  gap:5px;
}
.foll3
{
 margin-top: 2rem; 
}
.social-icons3 i:hover
{
color:rgb(16, 235, 216);
cursor: pointer;
}
.infoImportant3 a
{
text-decoration: none;
font-size: 20px;
font-weight:600;
color:grey;
}
.infoImportant3 a:hover
{
color:blue;
text-decoration: none;  
}
.infoImportant3
{
display: flex;
justify-content:center;
gap:10px;  
margin-top:2rem;
}
.terms-and-privacy3 a{
text-decoration: none;
font-size: 17px;
font-weight:600;
color:grey;  
}
.terms-and-privacy3
{
display: flex;
justify-content:center;
gap:10px;  
margin-top:2rem;
}
.terms-and-privacy3 a:hover
{
color:blue;
text-decoration: none;    
}
.copyrights3
{
  margin-left:33%;
font-size:18px;
font-weight: 540;
color:grey;
margin-top:3rem;
}.term-content
    {
      position: absolute;
      margin-top: 4rem;
    }
    .term-content h1
    {
      color:rgb(19, 209, 243);
      text-align: center;
    }
    .term-content h2{
      color:blue;
    }
     .Footer-section3
   {
    /* margin-top:40rem;   */
    position:absolute;
    margin-top:438rem;  
    background-color: rgb(189, 247, 247); 
    width:73rem;
    height:36rem;
   }
   .subs-img3
   {
     border-radius:100%;
     margin-left:40%;
     transform: translateY(-50%);
   }
   .subs-box3
   {
     margin-left:32% ;
     margin-top:-8% ;
   }
   .subs-box3 h4{
    color:#0000FF;
    text-shadow:2px 2px 6px rgb(93, 194, 228);
    font-size:35px;  
   }
   .subs-box3 input 
    {
      outline:0;  
border:0;
color:#00FFFF;
width:33rem;
height:4rem;
font-size:25px;
border-radius:100px;
margin-left:-5%;
    }
    .fs3
    {
     margin-left:-8% ;
    }
    .fs3:hover{
  color:blue;
  cursor: pointer;
  background-color: rgb(94, 251, 244);
}
.tt3
{
margin-left:46% ;  
}
.social-icons3
{
  display: flex;
  justify-content: center;
  gap:5px;
}
.foll3
{
 margin-top: 2rem; 
}
.social-icons3 i:hover
{
color:rgb(16, 235, 216);
cursor: pointer;
}
.infoImportant3 a
{
text-decoration: none;
font-size: 20px;
font-weight:600;
color:grey;
}
.infoImportant3 a:hover
{
color:blue;
text-decoration: none;  
}
.infoImportant3
{
display: flex;
justify-content:center;
gap:10px;  
margin-top:2rem;
}
.terms-and-privacy3 a{
text-decoration: none;
font-size: 17px;
font-weight:600;
color:grey;  
}
.terms-and-privacy3
{
display: flex;
justify-content:center;
gap:10px;  
margin-top:2rem;
}
.terms-and-privacy3 a:hover
{
color:blue;
text-decoration: none;    
}
.copyrights3
{
margin-left:33%;
font-size:18px;
font-weight: 540;
color:grey;
margin-top:3rem;
}